// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
// $fg-color: #fefae0;
$fg-color: #e5e2d0;
$bg-color: #1F1F28;
$border-color: #ffffffaa;
$secondary-color: #2C2C3A;

$icon-font-size: 20px;
$font-size: 16px;

$prompt-height: 50px;

$padding: 10px;
$text-padding: calc(1.5 * $padding);
$radius: 10px;

window.Spotlight {
  // background: transparent;
  // font-weight: bold;
  font-size: $font-size;
  color: $fg-color;

  box.vertical-box {
    border: 2px solid $border-color;
    border-radius: 20px; // nebo $radius?
    padding: $padding;
    background: $bg-color;
    >box {
    }
    box.gap {
      min-height: 2px;
      background-color: $secondary-color;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  // --- PROMPT ---
  box.prompt-box {
    centerbox.mode {
      font-size: $icon-font-size;
      background-color: $secondary-color;
      min-width: $prompt-height;
      border-radius: $radius;
    }
    centerbox.text {
      background-color: $secondary-color;
      // padding-left: $padding;
      // padding-right: $padding;
      padding-left: $text-padding;
      padding-right: $text-padding;
      border-radius: $radius;
    }
    min-height: $prompt-height;
  }
  // --- RESULT ---
  box.result-box {
    // padding-top: $padding;
    // border-top: 2px solid $secondary-color;
    min-height: 600px;
    box.app-list {
      box.app-entry {
        min-height: $prompt-height;
        background: $secondary-color;
        border-radius: $radius;
        // padding-left: $padding;
        padding-left: $text-padding;
      }
    }
  }
}

scrollable>viewport {
  border: none;
}

entry {
  transition: none;
  border-radius: $radius;
  border: none;
  box-shadow: none;
  background: $secondary-color;
  color: $fg-color;
}

entry:focus {
  // border: 2px solid $border-color;
  border: none;
  box-shadow: none;
}
